.form {
  display: grid;
  margin: 0 auto;
  padding: 1.5rem;

  grid-template-columns: 100px 1fr;
  row-gap: 10px;
  width: 500px;
  border: 1px solid rgba(85, 230, 243, 1);
  background: rgba(85, 230, 243, 0.7);
  border-radius: 0.25rem;
  color: rgb(171, 136, 245);
  font-weight: 400;
  align-items: center;
  box-shadow: 0 0 5px rgb(140, 224, 235);
}

.label {
  grid-column: 1 / 2;
  text-transform: uppercase;
  font-size: 0.75rem;
  text-align: left;
}

.input,
.button {
  grid-column: 2 / 3;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.button {
  background: rgb(220, 140, 235);
  width: 200px;
  justify-self: center;
  color: white;
}
